<div class="login-container">
    <div class="pagina-catalogo-container">

        <!-- Global Navbar is in AppComponent -->
        <main class="main-content">
            <div class="login-wrapper">
                <div class="login-card">
                    <div class="login-header">
                        <h2>Bienvenido</h2>
                    </div>
                    <!-- FORMULARIO DE LOGIN -->
                    <div class="login-body">
                        <div class="campo-formulario">
                            <label for="email">Correo Electrónico</label>
                            <div class="input-contenedor">
                                <input type="email" id="email" [(ngModel)]="email"
                                    placeholder="admin@electromania.com" />
                            </div>
                        </div>

                        <div class="campo-formulario">
                            <label for="password">Contraseña</label>
                            <app-password-input
                                inputId="password"
                                placeholder="········"
                                [(ngModel)]="contrasena"
                            ></app-password-input>
                        </div>

                        <button class="btn-login" (click)="iniciarSesion()">
                            Iniciar Sesión
                        </button>

                        <div class="login-footer">
                            <p>¿No tienes cuenta?
                                <a class="enlace-registro" routerLink="/registro">Regístrate aquí</a>
                                <!-- no funciona la navegacion -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>